<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="gui-section" >
    <div style="max-width: 50%;margin: 50px auto;min-height: 600px">
        <form action="" id="myform" data-bv-excluded>
            <ul class="gui-ul clearfix gov-h gui-menuTree">
                <li class="form-group">
                    <label class="ul-label control-label">旧密码</label>
                    <input type="text" ng-model="loginPs.password"  name="password"
                           class="gui-input form-control"
                           data-bv-notempty="true"
                           data-bv-notempty-message="旧密码不能为空"/>
                </li>
                <li class="form-group">
                    <label class="ul-label control-label">新密码</label>
                    <input type="text" ng-model="loginPs.newPassword" name="newPassword"
                           class="gui-input form-control"
                           data-bv-notempty="true"
                           data-bv-notempty-message="新密码不能是空"
                           data-bv-different="true"
                           data-bv-different-field="password"
                           data-bv-different-message="密码不能与旧密码相同"
                            />
                </li>
                <li class="form-group">
                    <label class="ul-label control-label">再次输入新密码</label>
                    <input type="text"  name="confirmPassword"
                           class="gui-input form-control"
                           data-bv-notempty="true"
                           data-bv-notempty-message="确认密码不能是空"
                           data-bv-identical="true"
                           data-bv-identical-field="newPassword"
                           data-bv-identical-message="与新密码不一至"

                            />
                </li>
                <li >
                    <div align="center">
                        <button type="button" ui-sref="	index.content.sysManage/sysUserManage"  class="gui-btn">取消</button>
                        <button type="button" class="gui-btn" ng-click="loginUpdate()">确认</button>
                    </div>

                </li>
            </ul>
        </form>

    </div>
</div>
</body>
</html>