<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        .gui-ul .ul-label {
            width: 10%;
            text-align: right;
            padding-right: 15px;
        }
        .gui-UL .help-block, .gui-ul .help-block {
            margin-left: 11%;
        }
    </style>
</head>
<body>
<div class="gui-section">
    <div class="gui-seachform">
        <label >修改人</label><input type="text" class="gui-input" ng-model="areaMaintenanceseach.userName"/>
        <label >开始时间</label>
        <input id="beginDate" style="cursor: pointer" placeholder="2017-07-13" ng-model="areaMaintenanceseach.beginDate"
               name="beginDate"
               readonly="readonly"
               class="Wdate gui-input" type="text" onFocus="var endDate=$dp.$('lessDate');WdatePicker({onpicked:function(){endDate.focus();},maxDate:'#F{$dp.$D(\'lessDate\')}'})"/>
        <label >截止时间</label>
        <input id="lessDate" class="Wdate gui-input" placeholder="2017-07-13"  name="endDate" ng-model="areaMaintenanceseach.endDate" style="cursor: pointer" readonly="readonly" type="text" onFocus="WdatePicker({minDate:'#F{$dp.$D(\'beginDate\')}'})"/>
        <button class="gui-btn btn-seacher" ng-click="tabChexked()">查询</button>
    </div>
    <table id="grid" class="gui-table " >
    </table>
</div>
</body>
</html>