<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        .gui-menuTree .tree-expanded {
            background: url(../../assets/imgs/icon/metro.png) -107px -63px no-repeat;
        }
    </style>
</head>
<body>
<div class="gui-section">
    <div class="gui-seachform">
        <label >角色名称</label><input type="text" class="gui-input" ng-model="sysRoleMangeseach.roleName"/>
        <button class="gui-btn btn-seacher" ng-click="tabtypeChexked()">查询</button>
        <button class="gui-btn btn-add"  data-toggle="modal" data-target="#myMapModal" ng-click="modelShow()">新增</button>
        <button class="gui-btn btn-update"  data-toggle="modal" data-target="" ng-click="viewRoleUpdate()">修改
        </button>
        <button class="gui-btn btn-remove"  data-toggle="modal" data-target="" ng-click="viewRoleRemove()">删除
        </button>
    </div>
    <table id="grid" class="gui-table " >
    </table>
    <!-- add-->
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
        <div class="modal-dialog modal-stylemid" >
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">新增角色</h4>
                </div>
                <div class="modal-body ">
                    <form action="" id="myform" data-bv-excluded>
                        <ul class="gui-ul clearfix gov-h gui-menuTree">
                            <li class="form-group">
                                <label class="ul-label control-label">角色名称</label>
                                <input type="text" ng-model="sysRoleMange.text" name="text"
                                       class="gui-input form-control"
                                       data-bv-notempty="true"
                                       data-bv-notempty-message="角色名称不能为空"/>
                            </li>
                            <li class="form-group">
                                <label class="ul-label control-label">备注</label>
                                <input type="text" ng-model="sysRoleMange.remark" name="remark"
                                       class="gui-input form-control"
                                       data-bv-notempty="true"
                                       data-bv-notempty-message="备注不能为空"/>
                            </li>
                            <li class="form-group">
                                <label class="ul-label control-label">授权</label>
                                <ul id="remarkTt" class="easyui-tree" data-options="animate:true,checkbox:true"
                                    style="margin-left: 145px;margin-top: -25px;"
                                   ></ul>
                            </li>

                        </ul>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="gui-btn"  data-dismiss="modal">关闭</button>
                    <button type="button" class="gui-btn addYes" ng-click="sysRoleAdd()" >确定</button>
                </div>
            </div>
        </div>
    </div>
    <!-- update-->
    <div class="modal fade" id="myUpdateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
        <div class="modal-dialog modal-stylemid" >
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" >修改角色</h4>
                </div>
                <div class="modal-body ">
                    <form action="" id="myupdateform" data-bv-excluded>
                        <ul class="gui-ul clearfix gov-h gui-menuTree">
                            <li class="form-group">
                                <label class="ul-label control-label">角色名称</label>
                                <input type="text" ng-model="sysRoleMange1.text" name="text1"
                                       class="gui-input form-control"
                                       data-bv-notempty="true"
                                       data-bv-notempty-message="角色名称不能为空"/>
                            </li>
                            <li class="form-group">
                                <label class="ul-label control-label">备注</label>
                                <input type="text" ng-model="sysRoleMange1.remark" name="remark1"
                                       class="gui-input form-control"
                                       data-bv-notempty="true"
                                       data-bv-notempty-message="备注不能为空"/>
                            </li>
                            <li class="form-group">
                                <label class="ul-label control-label">授权</label>
                                <ul id="remarkUpdateTt" class="easyui-tree" data-options="animate:true,checkbox:true"
                                    style="margin-left: 145px;margin-top: -25px;"
                                        ></ul>
                            </li>

                        </ul>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="gui-btn"  data-dismiss="modal">关闭</button>
                    <button type="button" class="gui-btn updateYes" ng-click="sysRoleUpdate()" >确定</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>